<div>
  <md-toolbar color="primary">
    <img md-card-avatar src="https://source.unsplash.com/collection/138794/200x200" >

    <span>Luz Verde</span>

    <button md-icon-button [md-menu-trigger-for]="menu">
      <md-icon>more_vert</md-icon>
    </button>
  </md-toolbar>
  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item>ClubyRed</button>
    <button md-menu-item>Agregar crédito</button>
  </md-menu>
  <md-card>
    <md-input-container>
      <input mdInput placeholder="Usuario" dividerColor="accent">
    </md-input-container>
    <md-input-container>
      <input type="password" mdInput placeholder="Contraseña" dividerColor="accent">
    </md-input-container>
    <button md-raised-button color="accent">Entrar</button>
    <a href="#" color="accent">No tienes cuenta? Crear cuenta</a>
  </md-card>
  <md-card>
  <md-card-header>
    <img md-card-avatar src="https://source.unsplash.com/random/200x200">
    <md-card-title>Luz Verde</md-card-title>
    <md-card-subtitle>Donde tus creditos pueden pasar siempre!</md-card-subtitle>
  </md-card-header>
  <img md-card-image src="https://source.unsplash.com/random/800x600">
  <md-card-content>
    <p>Los mejores de Ecuador</p>
  </md-card-content>
</md-card>

  <md-card>
    <footer color="primary">ClubyRed S.A 2017</footer>
  </md-card>

  <span class="done">
    <button md-fab>
      <md-icon>settings</md-icon>
    </button>
  </span>
</div>
